<%- include('layouts/header') %>

<style>
  body {
    background-color: #5770AB; /* Cambia el color a tu preferencia */
  }
</style>

<div class="container px-5 my-5">
  <div class="row mb-3">
    <h1>Editando Aritculo (<%= user.name  %>) </h1>
    <div class="col-md-6">
    <div class="col-md-6">
      
      <form
        id="add-form-label"
        action="/update/<%= user._id  %>"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="code" class="form-label">Codigo</label>
          <input
            class="form-control"
            id="code"
            value="<%= user.code  %>"
            name="code"
            type="number"
            id="formFile"
          />
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Nombre</label>
          <input
            class="form-control"
            id="name"
            value="<%= user.name  %>"
            name="name"
            type="text"
            id="formFile"
          />
        </div>
        
        <div class="mb-3">
          <label for="image" class="form-label">Foto</label>
          <input name="image" class="form-control"  value="<%= user.image  %>"  type="file" />
          <img src="/upload/<%= user.image %>" width="100" class="img-thumbnail" />

          <input type="hidden" name="old_image" value="<%= user.image %>" />

        </div>
        <div class="d-grid">
          <div class="mb-6">
          <label for="descripcion" class="form-label">Descripción</label>
          <input
            class="form-control"
            id="descripcion"
            value="<%= user.descripcion  %>"
            name="descripcion"
            type="descripcion"
            id="formFile"
          />
          <div class="mb-3">
          <label for="cantidad" class="form-label">Cantidad disponible</label>
          <input
            class="form-control"
            id="cantidad"
            value="<%= user.cantidad  %>"
            name="cantidad"
            type="number"
            id="formFile"
          />
        </div>
          <div class="mb-3">
          <label for="precio" class="form-label">Precio</label>
          <input
            class="form-control"
            id="precio"
            value="<%= user.precio  %>"
            name="precio"
            type="number"
            id="formFile"
          />
        </div>
          <input
            type="submit"
            class="btn btn-primary btn-lg"
            value="Editar Articulo"
          />
        </div>
      </form>
    </div>
  </div>
</div>

<%- include('layouts/footer') %>

